<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <input type="range" v-model="red" min="0" max="255">
            <input type="range" v-model="blue" min="0" max="255">
            <input type="range" v-model="green" min="0" max="255">
        </header>
        <div class="color_container" id="color_container" :style="{backgroundColor: color}">

            <p class="color_code"> {{ color }} </p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>

</body>

</html>